.card__text {
  color: #333;
  text-align: center;
  font-family: "Montserrat";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.card__content {
  display: flex;
  margin-top: 41px;
}
