.conversa-content {
    display: flex;
    flex-direction: column;
    width: 70%;
    border-right: 2px solid rgba(180, 180, 180, 0.50);
}

.conversa-content__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(180, 180, 180, 0.50);
    box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.155);
    padding: 1vh 2vw;
    z-index: 1;
}

.conversa-content__header__info {
    display: flex;
    align-items: center;
}

.conversa-content__header__info__foto {
    width: max-content;
    height: max-content;
    border-radius: 50%;
    margin-right: 10px;
}

.conversa-content__header__info__nome {
    font-size: 1.125rem;
    font-weight: 500;
}

.conversa-content__mensagens {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100%;
    overflow-y: auto;
    align-items: flex-start;
    scroll-behavior: smooth;
    padding: 4vh 2vw 2vh 2vw;
}

.conversa-content__mensagens::-webkit-scrollbar {
    width: 5px;
}

.conversa-content__mensagens::-webkit-scrollbar-track {
    background-color: rgba(180, 180, 180, 0.50);
}

.conversa-content__mensagens::-webkit-scrollbar-thumb {
    background: var(--color-azul);
}

.conversa-content__mensagem--data {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    width: 100%;
}

.conversa-content__mensagem--data p {
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 400;
    color: #505050;
    background-color: #EBEBEB;
    padding: 0.5rem;
    border-radius: 7px;
}

.conversa-content__mensagem {
    position: relative;
    text-align: right;
    margin-bottom: 10px;
    max-width: 40%;
    border-radius: 10px;
    padding: 0.8rem;
    background-color: #EBEBEB;
}

.conversa-content__mensagem::before {
    content: '';
    position: absolute;
    left: -13px;
    top: 5px;
    border-width: 9px;
    border-style: solid;
    transform: rotate(15deg);
    border-color: transparent #EBEBEB transparent transparent;
}

.conversa-content__mensagem p {
    color: var(--color-cinza);
}

.conversa-content__mensagem--propria {
    align-self: flex-end;
    justify-self: flex-start;
    background-color: var(--color-azul);
}


.conversa-content__mensagem--propria::before {
    display: none;
}

.conversa-content__mensagem--propria::after {
    content: '';
    position: absolute;
    top: 5px;
    right: -13px;
    border-width: 9px;
    border-style: solid;
    transform: rotate(-15deg);
    border-color: transparent transparent transparent var(--color-azul);
}

.conversa-content__mensagem--propria p {
    color: var(--color-branco);
}

.conversa-content__mensagem__info__texto {
    max-width: 100%;
    float: left;
    text-align: start;
    overflow-wrap: break-word;
    font-size: 14px;
    color: var(--color-branco);
}




.conversa-content__mensagem__info__white-space {
    float: right;
    width: 12px;
    height: 12px;
    margin-left: 1.1rem;
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 400;
    display: flex;
    align-items: flex-end;

}

.conversa-content__mensagem__info__data {
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin-left: 1rem;
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 400;
    display: flex;
    align-items: flex-end;

}

.conversa-content__mensagem__info_data p {
    color: #505050;
    align-self: flex-end;
    /* Alinhar para baixo */
}

.conversa-content__mensagem--propria .conversa-content__mensagem__info__data p {
    color: #E2E2E2;
}