* {
  font-family: "Montserrat", sans-serif;
}

.container__all {
  width: 100%;
  margin-top: 95px;
  display: flex;
  flex-direction: row;
}

.container__left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.container__left__h1 {
  color: var(--color-azul);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 32px;
}

.container__left__h2 {
  color: #222;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.stack__right {
  width: 100%;
  margin-left: 30px;
  margin-right: 98px;
}

.container__right__header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.total__encontrados {
  color: var(--color-cinza);
}

.checkbox__ordenar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 99px;
}
