.avaliacoesUsuario {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.avaliacoesUsuario .avaliacoesUsuario__titulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.avaliacoesUsuario__titulo h2 {
    color: #B4B4B4;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.avaliacoesUsuario .avaliacoesUsuario__barrasProgresso {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.avaliacoesUsuario .avaliacoesUsuario__barra {
    margin-top: 26px;
    display: flex;
    align-items: center;
    width: 100%;
}

.avaliacoesUsuario__barra h5 {
    color: #505050;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: auto;
}

.avaliacoesUsuario__barra p {
    color: var(--color-cinza);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.numeroEstrelas {
    text-align: left;
    width: 20%;
    margin-right: 24px;

}

.barra__progresso {
    width: 80%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}